.indexContainer {
  display: flex;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.button {
  border-radius: 50px;
  background-color: var(--secondary);
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
